body {
    font-family: "Fira Sans", sans-serif;
    background: #f5f5f5;
}

p {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.035rem;
    margin: 1rem 0 0 0;
    font-weight: bold;

}

h1 {
    font-size: 28.1px; font-size: 2.81rem;
}

h2 {
    font-size: 23.1px; font-size: 2.31rem;
}

h3 {
    font-size: 13px; font-size: 1.3rem;
}

.card {
     border: 0;
     border-radius: 0;
     background-color: transparent;
 }

 .factsheet {
    max-width: 400px;
 }
 .lead {
     font-size: 100%;
 }

 @media (min-width: 976px) {
    .maincontainer {
        max-width: 751px;
    }
}
@media (min-width: 1168px) {
    .maincontainer {
        max-width: 720px;
    }
}
@media (min-width: 1392px) {
    .maincontainer {
        max-width: 940px;
    }
}
@media (min-width: 1600px)  {
   .maincontainer {
       max-width: 1140px;
   }
}